// ========== Current Item Page ==========
.current-item {
    & .current-item-video {
        position: relative;
        width: 100%;
        padding-bottom: 50%;

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    & img {
        width: 100%;
        max-height: 40.5rem;
        object-fit: cover;
    }
}

$gap-size: 0.65rem;
.current-item-title {
    margin: $gap-size 0 2.5rem;

    & h2 {
        font-weight: bold;
    }
}

.current-item-about-title {
    margin: 7rem 0;

    & h1 {
        font-weight: 400 !important;
    }
}

.about-content-block {
    display: flex;
    gap: $gap-size;

    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}

.block-item {
    flex: 1 30%;

    & .block-item-images {
        margin-bottom: $gap-size;
    }
}

.split-images {
    display: flex;
    gap: $gap-size;
    height: auto;

    & .split-images-item {
        display: flex;
        flex: 1;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

.current-item-links {
    display: flex;
    justify-content: space-between;
    margin: 5rem 10rem 0;
    padding: 0 20px;
}

.current-item-link {
    position: relative;
}

@media (max-width: 1860px) {
    .current-item-links {
        max-width: 1520px;
        margin: 5rem auto 0;
    }
}

@media (max-width: 900px) {
    .current-item-about-title {
        text-align: center;
        margin: 4rem 0;
    }
    .about-content-block {
        flex-wrap: wrap;
    }
    .current-item-links {
        margin: 3rem auto 0;

        & .next-link {
            align-self: flex-end;
        }

        & h3 {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 625px) {
    .current-item p {
        font-size: 1rem;
    }

    .current-item-title {
        text-align: center;
        margin: $gap-size 0 1.5rem;

        & h2 {
            font-size: 2.4rem;
        }
    }

    .current-item-about-title {
        margin: 2rem 0;
    }
    .current-item-links {
        flex-direction: column-reverse;
        gap: 30px;

        & div {
            width: fit-content;
        }

        & .next-link {
            align-self: flex-end;
        }
    }
}
