@use "variables" as *;

// ========== Current Item Page ==========
.current-item {
    & .current-item-video {
        position: relative;
        width: 100%;
        padding-bottom: 50%;

        & iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    & img {
        width: 100%;
        max-height: 40.5rem;
        object-fit: cover;
    }
}

$gap-size: 0.65rem;
.current-item-title {
    margin: var(--gap-xs) 0 var(--gap-mx);

    & h2 {
        font-weight: bold;
    }
}

.current-item-about-title {
    margin: var(--gap-xl) 0;

    & h1 {
        font-weight: 400 !important;
    }
}

.about-content-block {
    display: flex;
    gap: var(--gap-xxs);

    &:not(:last-child) {
        margin-bottom: var(--gap-mx);
    }
}

.block-item {
    flex: 1 30%;

    & .block-item-images {
        margin-bottom: var(--gap-xxs);
    }
}

.split-images {
    display: flex;
    gap: var(--gap-xxs);
    height: auto;

    & .split-images-item {
        display: flex;
        flex: 1;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

.current-item-links {
    display: flex;
    justify-content: space-between;
    margin: var(--gap-xl) 10rem 0;
    padding: 0 var(--container-side-padding);

    & div a {
        display: flex;
    }
}

.current-item-link {
    position: relative;
    gap: var(--gap-xxs);
}

.current-item-link-icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

@media (max-width: 1860px) {
    .current-item-links {
        max-width: 1520px;
        margin: var(--gap-xl) auto 0;
    }
}

@media (max-width: 900px) {
    .current-item-about-title {
        text-align: center;
    }
    .about-content-block {
        flex-wrap: wrap;
    }
    .block-item {
        flex: 1 45%;
    }
    .current-item-links {
        margin: var(--gap-xl) auto 0;

        & .next-link {
            align-self: flex-end;
        }

        & h3 {
            font-size: 1.5rem;
        }
    }
    .current-item-link {
        gap: calc(var(--gap-xxs) / 2);
    }
    .current-item-link-icon {
        font-size: 1rem;
    }
}

@media (max-width: 625px) {
    .current-item p {
        font-size: 1rem;
    }

    .current-item-title {
        text-align: center;

        & h2 {
            font-size: 2.4rem;
        }
    }

    .block-item {
        flex: 1 100%;
    }

    .current-item-links {
        flex-direction: column-reverse;
        gap: var(--gap-s);

        & div {
            width: fit-content;
        }

        & .next-link {
            align-self: flex-end;
        }
    }
}
