// ========== COLORS ==========
$main-color: rgb(11, 13, 99);
$secondary-color: rgb(240, 142, 128);

$light-text-color: rgb(255, 255, 255);
$dark-text-color: rgb(0, 0, 0);
$input-background-color: rgb(250, 250, 250);
$input-border-color: rgb(169, 169, 169);

// ========== LAYOUT ==========
$container-max-width: 1280px;
$container-side-padding: 20px;

// ========== FONTS ==========
$headings-font: "Space Grotesk", monospace;
$paragraphs-font: "Space Mono", monospace;

// ========== TRANSITIONS ==========
$base-transition-timing: 0.25s;

// ========== CSS CUSTOM PROPERTIES ==========
:root {
    --section-padding: 6.25rem;
    --small-section-padding: 3.15rem;

    --h1-font-size: 5.2rem;
    --h2-font-size: 3.6rem;
    --h3-font-size: 2.2rem;
    --h4-font-size: 1.4rem;

    --p1-font-size: 1.5rem;
    --p2-font-size: 1.2rem;
    --p3-font-size: 0.9rem;
}

@media (max-width: 1200px) {
    :root {
        --h1-font-size: 3.5rem;
        --section-padding: 3.25rem;
    }
}

@media (max-width: 900px) {
    :root {
        --p2-font-size: 1rem;
        --small-section-padding: 2.1rem;
    }
}

@media (max-width: 616px) {
    :root {
        --h1-font-size: 2.3rem;
    }
}

@media (max-width: 450px) {
    :root {
        --small-section-padding: 1.4rem;
    }
}
