:root {
  --section-padding: 6.25rem;
  --small-section-padding: 3.15rem;
  --h1-font-size: 5.2rem;
  --h2-font-size: 3.6rem;
  --h3-font-size: 2.2rem;
  --h4-font-size: 1.4rem;
  --p1-font-size: 1.5rem;
  --p2-font-size: 1.2rem;
  --p3-font-size: 0.9rem;
}

@media (max-width: 1200px) {
  :root {
    --h1-font-size: 3.5rem;
  }
}
@media (max-width: 900px) {
  :root {
    --p2-font-size: 1rem;
  }
}
@media (max-width: 616px) {
  :root {
    --h1-font-size: 2.3rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

[class*=-container] {
  max-width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

body:has(.hamburger-menu.open) {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 700 !important;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", monospace;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.01em;
}

h1.light-heading {
  color: rgb(255, 255, 255);
}

.p1 {
  font-size: var(--p1-font-size);
}

.p2 {
  font-size: var(--p2-font-size);
}

.p3 {
  font-size: var(--p3-font-size);
}

.p1,
.p2,
.p3 {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 0;
}

ul {
  list-style: none;
}
ul li {
  overflow: hidden;
}

a {
  text-decoration: none;
}
a.header-link, a.current-item-link {
  position: relative;
}
a.header-link::after, a.current-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.01rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  background-color: rgb(255, 255, 255);
}
a.header-link:hover::after, a.current-item-link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
a.header-link.active::after, a.current-item-link.active::after {
  transform: scaleX(1);
}
a.current-item-link {
  color: rgb(0, 0, 0);
}
a.current-item-link::after {
  height: 0.125rem;
  background-color: rgb(0, 0, 0);
  bottom: -0.375rem;
}
a.footer-link, a.getintouch-link {
  position: relative;
  color: rgb(240, 142, 128);
  transition: color 0.1s ease-in-out;
}
a.footer-link::after, a.getintouch-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.01rem;
  background-color: rgb(240, 142, 128);
  transition: background-color 0.1s ease-in-out;
}
a.footer-link:hover, a.getintouch-link:hover {
  color: rgb(255, 255, 255);
}
a.footer-link:hover::after, a.getintouch-link:hover::after {
  background-color: rgb(255, 255, 255);
}
a.getintouch-link:hover {
  color: rgb(0, 0, 0);
}
a.getintouch-link:hover::after {
  background-color: rgb(0, 0, 0);
}

.main-background {
  background-color: rgb(11, 13, 99);
}

.secondary-background {
  background-color: rgb(240, 142, 128);
}

button {
  position: relative;
  font-family: "Space Mono", monospace;
  padding: 1.2em 2.5em;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  overflow: hidden;
  line-height: 1 !important;
}
button.primary-btn, button.primary-btn::before, button.secondary-btn, button.secondary-btn::before {
  transition: all 0.25s ease-in-out;
}
button.primary-btn::before, button.secondary-btn::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 0.15rem solid;
  border-radius: 3rem;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
button.primary-btn:hover::before, button.secondary-btn:hover::before {
  bottom: 0;
}
button.primary-btn:after, button.secondary-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0.15rem solid;
  border-radius: 3rem;
  box-sizing: border-box;
}
button.primary-btn {
  color: rgb(240, 142, 128);
}
button.primary-btn::before {
  background-color: rgb(240, 142, 128);
  border-color: rgb(240, 142, 128);
}
button.primary-btn:hover {
  color: rgb(255, 255, 255);
}
button.primary-btn::after {
  border-color: rgb(240, 142, 128);
}
button.secondary-btn {
  color: rgb(255, 255, 255);
}
button.secondary-btn::before {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
button.secondary-btn:hover {
  color: rgb(240, 142, 128);
}
button.secondary-btn::after {
  border-color: rgb(255, 255, 255);
}

section {
  padding: var(--section-padding) 0;
}
section.small-padding-section {
  padding: var(--small-section-padding) 0;
}

input[type=text],
textarea {
  padding: 0.8rem;
  margin: 0;
  border: 0.1rem solid rgb(169, 169, 169);
  outline: none;
  width: 100%;
  background-color: rgb(250, 250, 250);
  font-family: "Space Mono", monospace;
}
input[type=text]:focus,
textarea:focus {
  outline: 0.15rem solid rgb(0, 0, 0);
  outline-offset: 0.15rem;
}

textarea {
  resize: vertical;
  max-height: 25vh;
}

@media (max-width: 1200px) {
  :root {
    --section-padding: 3.25rem;
  }
}
@media (max-width: 900px) {
  :root {
    --small-section-padding: 2.1rem;
  }
}
@media (max-width: 450px) {
  :root {
    --small-section-padding: 1.4rem;
  }
}
:root {
  --header-height: 6rem;
}

@media (max-width: 1200px) {
  :root {
    --header-height: 4rem;
  }
}
header {
  position: sticky;
  height: var(--header-height);
  top: 0;
  z-index: 9999;
}

.header * {
  color: rgb(255, 255, 255);
}

.header-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo h4 {
  font-size: 1.6rem !important;
}

.header-navigation-list {
  display: flex;
  gap: 6rem;
}

.hamburger-menu {
  height: 1.625rem;
  width: 2.5rem;
}
.hamburger-menu.open .hamburger-logo span:nth-child(1) {
  transform: rotate(45deg) translate(0.5em, 0.4em);
}
.hamburger-menu.open .hamburger-logo span:nth-child(2) {
  transform: scale(0);
}
.hamburger-menu.open .hamburger-logo span:nth-child(3) {
  transform: rotate(-45deg) translate(0.5em, -0.5em);
}
.hamburger-menu.open .hamburger-navigation {
  transform: translateX(0);
}

.hamburger-inner {
  display: block;
  height: 100%;
  cursor: pointer;
}

.hamburger-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-logo span {
  height: 0.25rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 3rem;
  transform: scale(1) rotate(0) translate(0);
  transition: transform 0.25s ease-in-out;
}

.hamburger-navigation {
  display: flex;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: var(--header-height);
  left: 0;
  background-color: rgb(240, 142, 128);
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.hamburger-navigation-inner {
  margin: auto;
}
.hamburger-navigation-inner .header-navigation-list {
  flex-direction: column;
  gap: 3rem;
}
.hamburger-navigation-inner .header-navigation-list a {
  font-size: 2rem !important;
}

:root {
  --footer-padding: 5rem;
}

@media (max-width: 1200px) {
  :root {
    --footer-padding: 2rem;
  }
}
.footer-inner {
  color: rgb(240, 142, 128);
  display: flex;
  justify-content: space-between;
  padding-top: var(--footer-padding);
  padding-bottom: var(--footer-padding);
}

.footer-links {
  display: flex;
  gap: 12rem;
}
.footer-links h4 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.footer-contact-links div:not(:last-child) {
  margin-bottom: 1.2rem;
}

.footer-logo {
  align-self: end;
}
.footer-logo * {
  font-weight: 700;
}
.footer-logo p {
  margin-top: 3rem;
  color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .footer-inner {
    flex-direction: column;
    gap: 5rem;
  }
  .footer-inner .footer-links {
    justify-content: space-around;
    gap: 0;
  }
  .footer-inner .footer-logo {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 1rem;
  }
  .footer-inner .footer-logo p {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .footer-inner .footer-links {
    flex-direction: column;
    align-self: center;
    gap: 2rem;
  }
  .footer-inner .footer-logo h3 {
    font-size: 1.5rem;
  }
  .footer-inner .footer-logo p {
    font-size: 0.8rem;
  }
}
.hero {
  position: relative;
  background: url("../assets/hero-back.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.hero-inner {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  z-index: 10;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
  z-index: 10;
}
.hero-title h1 {
  font-weight: 400 !important;
}
.hero-title a {
  position: relative;
}

@media (max-width: 900px) {
  .hero-title {
    max-width: 627px;
  }
}
@media (max-width: 616px) {
  .hero-title .p2 {
    font-size: 1rem;
  }
}
.motivation {
  color: rgb(255, 255, 255);
  text-align: center;
}

@media (max-width: 900px) {
  .motivation h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .motivation h3 {
    font-size: 1rem;
  }
}
.last-cases-list {
  margin-top: 6.3rem;
  display: flex;
  justify-content: space-between;
}

.case-item {
  flex: 1 25%;
  padding: 1rem;
}

.case-item-image {
  max-width: inherit;
}
.case-item-image img {
  width: 100%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.case-item-content h4 {
  font-weight: 500 !important;
}
.case-item-content .title-margin {
  margin-top: 1.25rem;
}
.case-item-content .paragraph-margin {
  margin: 1.25rem 0;
}

@media (max-width: 1200px) {
  .last-cases-list {
    margin-top: 4.2rem;
  }
  .case-item {
    flex: 1 33%;
  }
}
@media (max-width: 900px) {
  .last-cases-list {
    margin-top: 2.8rem;
  }
  .case-item {
    flex: 1 50%;
  }
}
@media (max-width: 500px) {
  .case-item-image img {
    height: 16rem;
  }
}
.approach-inner {
  display: flex;
  color: rgb(255, 255, 255);
  gap: 2.5rem;
}
.approach-inner div:first-child {
  width: 40%;
}
.approach-inner div:last-child {
  width: 60%;
}
.approach-inner div h1 {
  width: -moz-min-content;
  width: min-content;
  justify-self: end;
}
.approach-inner div p {
  margin-top: 5.3rem;
  max-width: 85%;
}

@media (max-width: 1200px) {
  .approach-inner div p {
    max-width: 100%;
  }
}
@media (max-width: 1050px) {
  .approach-inner {
    flex-direction: column;
    align-items: center;
  }
  .approach-inner div p {
    margin-top: 1rem;
  }
  .approach-inner .approach-title h1 {
    width: -moz-max-content;
    width: max-content;
    justify-self: center;
  }
  .approach-inner div:first-child, .approach-inner div:last-child {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .approach-inner div p {
    max-width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 616px) {
  .approach-inner div:first-child, .approach-inner div:last-child {
    width: 100%;
  }
}
.workflow-title {
  text-align: center;
  margin-bottom: 5rem;
}

.accordion-items-list {
  padding: 0 1rem;
}

.accordion-item {
  border-top: 0.1rem solid;
  padding: 1rem 0;
}
.accordion-item:last-child {
  border-bottom: 0.1rem solid;
}
.accordion-item.open .accordion-item__content {
  grid-template-rows: 1fr;
}
.accordion-item.open .plus__vertical-line {
  transform: rotate(0deg);
}

.accordion-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion-item__title h3 {
  max-width: 80%;
}

.accordion-plus {
  position: relative;
  display: flex;
  width: 1rem;
  justify-content: center;
  align-items: center;
}
.accordion-plus .plus__horizontal-line, .accordion-plus .plus__vertical-line {
  position: absolute;
  height: 0.125rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.accordion-plus .plus__vertical-line {
  transform: rotate(90deg);
  transition: transform 0.25s ease-in-out;
}

.accordion-item__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease-out;
}
.accordion-item__content .accordion-item-wrapper {
  overflow: hidden;
}
.accordion-item__content .accordion-item-wrapper p {
  width: 90%;
  margin: 1.25rem auto;
}

@media (max-width: 900px) {
  .workflow-title {
    margin-bottom: 2.5rem;
  }
  .accordion-item__title h3 {
    font-size: 1.5rem;
  }
  .accordion-item-wrapper .p1 {
    font-size: 1rem;
  }
}
.contact-inner {
  display: flex;
}

.contact-image {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.contact-image img {
  height: 80%;
  width: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.contact-content {
  color: rgb(255, 255, 255);
  display: flex;
  width: 50%;
}

.contact-text {
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: 10;
}
.contact-text p {
  margin: 2rem 0 3rem;
}

@media (max-width: 900px) {
  .contact-inner {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .contact-inner .contact-content, .contact-inner .contact-image {
    width: 100%;
  }
}
@media (max-width: 616px) {
  .contact-text p {
    margin: 2rem 0;
  }
}
@media (max-width: 392px) {
  .contact-image img {
    width: 100%;
  }
}
.projects-title {
  text-align: center;
  margin-bottom: var(--section-padding);
}

.all-cases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.6rem;
}

.current-item img {
  width: 100%;
  max-height: 40.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.current-item-title {
  margin: 0.65rem 0 2.5rem;
}
.current-item-title h2 {
  font-weight: bold;
}

.current-item-about-title {
  margin: 7rem 0;
}
.current-item-about-title h1 {
  font-weight: 400 !important;
}

.about-content-block {
  display: flex;
  gap: 0.65rem;
}
.about-content-block:not(:last-child) {
  margin-bottom: 3.2rem;
}

.block-item {
  flex: 1 30%;
}
.block-item .block-item-images {
  margin-bottom: 0.65rem;
}

.split-images {
  display: flex;
  gap: 0.65rem;
  height: auto;
}
.split-images .split-images-item {
  display: flex;
  flex: 1;
}
.split-images img {
  width: 100%;
  height: 100%;
}

.current-item-links {
  display: flex;
  justify-content: space-between;
  margin: 5rem 10rem 0;
  padding: 0 20px;
}

.current-item-link {
  position: relative;
}

@media (max-width: 1860px) {
  .current-item-links {
    max-width: 1520px;
    margin: 5rem auto 0;
  }
}
@media (max-width: 900px) {
  .current-item-about-title {
    text-align: center;
    margin: 4rem 0;
  }
  .about-content-block {
    flex-wrap: wrap;
  }
  .current-item-links {
    margin: 3rem auto 0;
  }
  .current-item-links .next-link {
    align-self: flex-end;
  }
  .current-item-links h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 625px) {
  .current-item p {
    font-size: 1rem;
  }
  .current-item-title {
    text-align: center;
    margin: 0.65rem 0 1.5rem;
  }
  .current-item-title h2 {
    font-size: 2.4rem;
  }
  .current-item-about-title {
    margin: 2rem 0;
  }
  .current-item-links {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .current-item-links div {
    width: -moz-fit-content;
    width: fit-content;
  }
  .current-item-links .next-link {
    align-self: flex-end;
  }
}
.getintouch-inner {
  display: flex;
}

.getintouch-form,
.getintouch-links {
  width: 50%;
}
.getintouch-form h2,
.getintouch-links h2 {
  margin-bottom: 2rem;
}

.getintouch-form-inner,
.getintouch-links-inner {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.getintouch-form form {
  width: 33rem;
}

.form-item:not(:last-child) {
  margin-bottom: 1.3rem;
}
.form-item p {
  padding-bottom: 0.3rem;
}
.form-item span {
  opacity: 0.7;
}

.field-list {
  margin-bottom: 1.3rem;
}

.getintouch-links-inner div:first-child {
  margin-bottom: 5rem;
}

.getintouch-links-list li:not(:last-child) {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=main-styles.css.map */