// ========== ========== ========== VARIABLES ========== ========== ==========
$main-color: rgb(11, 13, 99);
$secondary-color: rgb(240, 142, 128);

$light-text-color: rgb(255, 255, 255);
$dark-text-color: rgb(0, 0, 0);
$input-background-color: rgb(250, 250, 250);
$input-border-color: rgb(169, 169, 169);

$container-max-width: 1280px;
$container-side-padding: 20px;

$headings-font: "Space Grotesk", monospace;
$paragraphs-font: "Space Mono", monospace;

$base-transition-timing: 0.25s;

:root {
    --section-padding: 6.25rem;
}

// ========== ========== ========== BASIC STYLE ========== ========== ==========
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

[class*="-container"] {
    max-width: $container-max-width + $container-side-padding * 2;
    padding-right: $container-side-padding;
    padding-left: $container-side-padding;
    margin: 0 auto;
}

body {
    &:has(.hamburger-menu.open) {
        overflow: hidden;
    }
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 5.2rem;
    font-weight: 700 !important;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.4rem;
}
h1,
h2,
h3,
h4 {
    font-family: $headings-font;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.01em;
}
h1.light-heading {
    color: $light-text-color;
}

.p1 {
    font-size: 1.5rem;
}
.p2 {
    font-size: 1.2rem;
}
.p3 {
    font-size: 0.9rem;
}
.p1,
.p2,
.p3 {
    font-family: $paragraphs-font;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0;
}

ul {
    list-style: none;

    & li {
        overflow: hidden;
    }
}

a {
    text-decoration: none;

    &.header-link,
    &.current-item-link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.01rem;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform $base-transition-timing ease-in-out;
            background-color: $light-text-color;
        }

        &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }

        &.active::after {
            transform: scaleX(1);
        }
    }

    &.current-item-link {
        color: $dark-text-color;

        &::after {
            height: 0.1rem;
            background-color: $dark-text-color;
            bottom: -0.375rem;
        }
    }

    &.footer-link,
    &.getintouch-link {
        $footer-transition-timing: calc($base-transition-timing - 0.15s);

        position: relative;
        color: $secondary-color;
        transition: color $footer-transition-timing ease-in-out;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.01rem;
            background-color: $secondary-color;
            transition: background-color $footer-transition-timing ease-in-out;
        }

        &:hover {
            color: $light-text-color;
        }

        &:hover::after {
            background-color: $light-text-color;
        }
    }

    &.getintouch-link {
        &:hover {
            color: $dark-text-color;
        }

        &:hover::after {
            background-color: $dark-text-color;
        }
    }
}

.main-background {
    background-color: $main-color;
}

.secondary-background {
    background-color: $secondary-color;
}

button {
    position: relative;
    font-family: $paragraphs-font;
    padding: 1.2em 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    overflow: hidden;
    line-height: 1 !important;

    $button-border-width: 0.15rem;
    &.primary-btn,
    &.secondary-btn {
        &,
        &::before {
            transition: all $base-transition-timing ease-in-out;
        }

        &::before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            border: $button-border-width solid;
            border-radius: 3rem;
            left: 0;
            bottom: -100%;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &:hover::before {
            bottom: 0;
        }

        &:after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border: $button-border-width solid;
            border-radius: 3rem;
            box-sizing: border-box;
        }
    }

    &.primary-btn {
        color: $secondary-color;

        &::before {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }

        &:hover {
            color: $light-text-color;
        }

        &::after {
            border-color: $secondary-color;
        }
    }
    &.secondary-btn {
        color: $light-text-color;

        &::before {
            background-color: $light-text-color;
            border-color: $light-text-color;
        }

        &:hover {
            color: $secondary-color;
        }

        &::after {
            border-color: $light-text-color;
        }
    }
}

section {
    padding: var(--section-padding) 0;

    &.small-padding-section {
        padding: 3.15rem 0;
    }
}

input[type="text"],
textarea {
    padding: 0.8rem;
    margin: 0;
    border: 0.1rem solid $input-border-color;
    outline: none;
    width: 100%;
    background-color: $input-background-color;
    font-family: $paragraphs-font;

    &:focus {
        outline: 0.15rem solid $dark-text-color;
        outline-offset: 0.15rem;
    }
}

textarea {
    resize: vertical;
    max-height: 25vh;
}

@media (max-width: 1200px) {
    :root {
        --section-padding: 3.25rem;
    }
}

// ========== ========== ========== HEADER ========== ========== ==========
:root {
    --header-height: 6rem;
}
@media (max-width: 1200px) {
    :root {
        --header-height: 4rem;
    }
}

header {
    position: sticky;
    height: var(--header-height);
    top: 0;
    z-index: 9999;
}

.header * {
    color: $light-text-color;
}

.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h4 {
    font-size: 1.6rem !important;
}

.header-navigation-list {
    display: flex;
    gap: 6rem;
}

.hamburger-menu {
    height: 1.625rem;
    width: 2.5rem;

    &.open {
        & .hamburger-logo span {
            &:nth-child(1) {
                transform: rotate(45deg) translate(0.5em, 0.4em);
            }
            &:nth-child(2) {
                transform: scale(0);
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(0.5em, -0.5em);
            }
        }

        & .hamburger-navigation {
            transform: translateX(0);
        }
    }
}

.hamburger-inner {
    display: block;
    height: 100%;
    cursor: pointer;
}

.hamburger-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span {
        height: 0.25rem;
        width: 100%;
        background-color: $light-text-color;
        border-radius: 3rem;

        transform: scale(1) rotate(0) translate(0);
        transition: transform 0.25s ease-in-out;
    }
}

.hamburger-navigation {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: var(--header-height);
    left: 0;
    background-color: $secondary-color;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}
.hamburger-navigation-inner {
    margin: auto;

    & .header-navigation-list {
        flex-direction: column;
        gap: 3rem;

        & a {
            font-size: 2rem !important;
        }
    }
}

// ========== HEADER :: RESPONSIVE ==========

// ========== ========== ========== FOOTER ========== ========== ==========
:root {
    --footer-padding: 5rem;
}

@media (max-width: 1200px) {
    :root {
        --footer-padding: 2rem;
    }
}

.footer-inner {
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-top: var(--footer-padding);
    padding-bottom: var(--footer-padding);
}

.footer-links {
    display: flex;
    gap: 12rem;

    & h4 {
        color: $light-text-color;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
}

.footer-contact-links {
    & div:not(:last-child) {
        margin-bottom: 1.2rem;
    }
}

.footer-logo {
    align-self: end;

    & * {
        font-weight: 700;
    }

    & p {
        margin-top: 3rem;
        color: $light-text-color;
    }
}

@media (max-width: 900px) {
    .footer-inner {
        flex-direction: column;
        gap: 5rem;

        & .footer-links {
            justify-content: space-around;
            gap: 0;
        }

        & .footer-logo {
            display: flex;
            justify-content: end;
            align-items: baseline;
            gap: 1rem;

            & p {
                margin: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .footer-inner {
        & .footer-links {
            flex-direction: column;
            align-self: center;
            gap: 2rem;
        }

        & .footer-logo {
            & h3 {
                font-size: 1.5rem;
            }
            & p {
                font-size: 0.8rem;
            }
        }
    }
}

// ========== ========== ========== HOME ========== ========== ==========

// ========== Hero ==========
.hero-inner {
    display: flex;
    gap: 1.25rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h1 {
        font-weight: 400 !important;
    }

    & a {
        position: relative;
        z-index: 10;
    }
}

.hero-image {
    display: flex;
    width: 30%;
    margin-right: 3.125rem;

    & img {
        height: 23.4rem;
        width: 19.5rem;
        object-fit: cover;
        filter: grayscale(1);
    }
}

// ========== Motivation ==========
.motivation {
    color: $light-text-color;
    text-align: center;
}

// ========== Last Cases ==========
.last-cases-list {
    margin-top: 6.3rem;
    display: flex;
    justify-content: space-between;
}

.case-item {
    flex: 1 25%;
    padding: 1rem;
}

.case-item-image {
    max-width: inherit;

    img {
        width: 100%;
        height: 24rem;
        object-fit: cover;
    }
}

.case-item-content {
    & h4 {
        font-weight: 500 !important;
    }

    & .title-margin {
        margin-top: 1.25rem;
    }

    & .paragraph-margin {
        margin: 1.25rem 0;
    }
}

@media (max-width: 1200px) {
    .case-item {
        flex: 1 33%;
    }
}

@media (max-width: 900px) {
    .case-item {
        flex: 1 50%;
    }
}

@media (max-width: 500px) {
    .case-item-image {
        img {
            height: 16rem;
        }
    }
}
// ========== Approach ==========
.approach-inner {
    display: flex;
    color: $light-text-color;
    gap: 2.5rem;

    $title-width: 40;
    & div:first-child {
        width: percentage($title-width / 100);
    }
    & div:last-child {
        width: percentage(calc((100 - $title-width) / 100));
    }

    & div {
        & h1 {
            display: flex;
            justify-self: flex-end;
        }
        & p {
            margin-top: 5.3rem;
            max-width: 85%;
        }
    }
}

// ========== Workflow ==========
.workflow-title {
    text-align: center;
    margin-bottom: 5rem;
}

.accordion-items-list {
    list-style: decimal;
}

$accordion-border-width: 0.1rem;
.accordion-item {
    border-top: $accordion-border-width solid;
    padding: 1rem 0;

    &:last-child {
        border-bottom: $accordion-border-width solid;
    }

    &.open {
        & .accordion-item__content {
            grid-template-rows: 1fr;
        }

        & .plus__vertical-line {
            transform: rotate(0deg);
        }
    }
}

.accordion-item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-plus {
    position: relative;
    display: flex;
    width: 1rem;
    justify-content: center;
    align-items: center;

    & .plus__horizontal-line,
    & .plus__vertical-line {
        position: absolute;
        height: 0.125rem;
        width: 100%;
        background-color: black;
    }
    & .plus__vertical-line {
        transform: rotate(90deg);
        transition: transform $base-transition-timing ease-in-out;
    }
}

.accordion-item__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $base-transition-timing ease-out;

    & .accordion-item-wrapper {
        overflow: hidden;

        & p {
            width: 90%;
            margin: 1.25rem auto;
        }
    }
}

// ========== Contact ==========
.contact-inner {
    display: flex;
}

.contact-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    & img {
        height: 80%;
        width: 22rem;
        object-fit: cover;
        filter: grayscale(1);
    }
}

.contact-content {
    color: $light-text-color;
    display: flex;
    width: 50%;
}

.contact-text {
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: 10;

    & p {
        margin: 2rem 0 3rem;
    }
}

// ========== ========== ========== PROJECTS ========== ========== ==========
.projects-title {
    text-align: center;
    margin-bottom: var(--section-padding);
}

.all-cases-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.6rem;
}

@media (max-width: 500px) {
    .projects-title h1 {
        font-size: 3.4rem;
    }
}

// ========== ========== ========== CURRENT ITEM ========== ========== ==========
.current-item {
    & img {
        width: 100%;
        max-height: 40.5rem;
        object-fit: cover;
    }
}

$gap-size: 0.65rem;
.current-item-title {
    margin: $gap-size 0 2.5rem;

    & h2 {
        font-weight: bold;
    }
}

.current-item-about-title {
    margin: 7rem 0;

    & h1 {
        font-weight: 400 !important;
    }
}

.about-content-block {
    display: flex;
    gap: $gap-size;

    &:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}

.block-item {
    flex: 1 30%;

    & .block-item-images {
        margin-bottom: $gap-size;
    }
}

.split-images {
    display: flex;
    gap: $gap-size;
    height: auto;

    & .split-images-item {
        display: flex;
        flex: 1;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

.current-item-links {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 0 10rem;

    & .prev-link {
    }

    & .next-link {
    }
}
// ========== ========== ========== GET IN TOUCH ========== ========== ==========
.getintouch-inner {
    display: flex;
}

.getintouch-form,
.getintouch-links {
    width: 50%;

    & h2 {
        margin-bottom: 2rem;
    }
}

.getintouch-form-inner,
.getintouch-links-inner {
    width: fit-content;
    margin: 0 auto;
}

.getintouch-form {
    & form {
        width: 33rem;
    }
}

.form-item {
    &:not(:last-child) {
        margin-bottom: 1.3rem;
    }

    & p {
        padding-bottom: 0.3rem;
    }

    & span {
        opacity: 0.7;
    }
}

.field-list {
    margin-bottom: 1.3rem;
}

.getintouch-links-inner {
    & div:first-child {
        margin-bottom: 5rem;
    }
}

.getintouch-links-list {
    & li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}
