// ========== ========== ========== VARIABLES ========== ========== ==========
$main-color: rgb(11, 13, 99);
$secondary-color: rgb(240, 142, 128);

$light-text-color: rgb(255, 255, 255);
$dark-text-color: rgb(0, 0, 0);

$container-max-width: 1280px;
$container-side-padding: 20px;

$headings-font: "Space Grotesk", monospace;
$paragraphs-font: "Space Mono", monospace;

$base-transition-timing: 0.25s;

// ========== ========== ========== BASIC STYLE ========== ========== ==========
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;
    scrollbar-width: none;
}

[class*="-container"] {
    max-width: $container-max-width + $container-side-padding * 2;
    padding-right: $container-side-padding;
    padding-left: $container-side-padding;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 5.2rem;
    font-weight: 700 !important;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.4rem;
}
h1,
h2,
h3,
h4 {
    font-family: $headings-font;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.01em;
}
h1.light-heading {
    color: $light-text-color;
}

.p1 {
    font-size: 1.5rem;
}
.p2 {
    font-size: 1.2rem;
}
.p3 {
    font-size: 0.9rem;
}
.p1,
.p2,
.p3 {
    font-family: $paragraphs-font;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0;
}

ul {
    list-style: none;

    & li {
        overflow: hidden;
    }
}

a {
    text-decoration: none;

    &.header-link {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.01rem;
            background-color: $light-text-color;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform $base-transition-timing ease-in-out;
        }

        &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
        }

        &.active::after {
            transform: scaleX(1);
        }
    }

    &.footer-link {
        $footer-transition-timing: calc($base-transition-timing - 0.15s);

        position: relative;
        color: $secondary-color;
        transition: color $footer-transition-timing ease-in-out;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.01rem;
            background-color: $secondary-color;
            transition: background-color $footer-transition-timing ease-in-out;
        }

        &:hover {
            color: $light-text-color;
        }

        &:hover::after {
            background-color: $light-text-color;
        }
    }
}

.main-background {
    background-color: $main-color;
}

.secondary-background {
    background-color: $secondary-color;
}

button {
    position: relative;
    font-family: $paragraphs-font;
    padding: 1.2em 2.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 3rem;
    overflow: hidden;
    line-height: 1 !important;

    $button-border-width: 0.15rem;
    &.primary-btn,
    &.secondary-btn {
        &,
        &::before {
            transition: all $base-transition-timing ease-in-out;
        }

        &::before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            border: $button-border-width solid;
            border-radius: 3rem;
            left: 0;
            bottom: -100%;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &:hover::before {
            bottom: 0;
        }

        &:after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border: $button-border-width solid;
            border-radius: 3rem;
            box-sizing: border-box;
        }
    }

    &.primary-btn {
        color: $secondary-color;

        &::before {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }

        &:hover {
            color: $light-text-color;
        }

        &::after {
            border-color: $secondary-color;
        }
    }
    &.secondary-btn {
        color: $light-text-color;

        &::before {
            background-color: $light-text-color;
            border-color: $light-text-color;
        }

        &:hover {
            color: $secondary-color;
        }

        &::after {
            border-color: $light-text-color;
        }
    }
}

section {
    padding: 6.3rem 0;

    &.small-padding-section {
        padding: 3.15rem 0;
    }
}

// ========== ========== ========== HEADER ========== ========== ==========
.header * {
    color: $light-text-color;
}

$header-padding-size: 2rem;
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $header-padding-size;
    padding-bottom: $header-padding-size;
}

.header-logo h4 {
    font-size: 1.6rem !important;
}

.header-navigation-list {
    display: flex;
    gap: 6rem;
}

// ========== ========== ========== FOOTER ========== ========== ==========
$footer-padding-size: 5rem;
.footer-inner {
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-top: $footer-padding-size;
    padding-bottom: $footer-padding-size;
}

.footer-links {
    display: flex;
    gap: 12rem;

    & h4 {
        color: $light-text-color;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
}

.footer-contact-links {
    & div:not(:last-child) {
        margin-bottom: 1.2rem;
    }
}

.footer-logo {
    align-self: end;

    & * {
        font-weight: 700;
    }

    & p {
        margin-top: 3rem;
        color: $light-text-color;
    }
}

// ========== ========== ========== HOME ========== ========== ==========

// ========== Hero ==========
.hero-inner {
    display: flex;
    gap: 1.25rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h1 {
        font-weight: 400 !important;
    }

    & a {
        position: relative;
        z-index: 10;
    }
}

.hero-image {
    display: flex;
    width: 30%;
    margin-right: 3.125rem;

    & img {
        height: 23.4rem;
        width: 19.5rem;
        object-fit: cover;
        filter: grayscale(1);
    }
}

// ========== Motivation ==========
.motivation {
    color: $light-text-color;
}

// ========== Last Cases ==========
.last-cases-list {
    margin-top: 6.3rem;
    display: flex;
    justify-content: space-between;
}

$case-item-width: 24.2rem;

.case-item {
    max-width: $case-item-width;
}

.case-item-image {
    max-width: inherit;

    img {
        width: 100%;
        height: $case-item-width;
        object-fit: cover;
    }
}

.case-item-content {
    & h4 {
        font-weight: 500 !important;
    }

    & .title-margin {
        margin-top: 1.25rem;
    }

    & .paragraph-margin {
        margin: 1.25rem 0;
    }
}

// ========== Approach ==========
.approach-inner {
    display: flex;
    color: $light-text-color;
    gap: 2.5rem;

    $title-width: 40;
    & div:first-child {
        width: percentage($title-width / 100);
    }
    & div:last-child {
        width: percentage(calc((100 - $title-width) / 100));
    }

    & div {
        & h1 {
            display: flex;
            justify-self: flex-end;
        }
        & p {
            margin-top: 5.3rem;
            max-width: 85%;
        }
    }
}

// ========== Workflow ==========
.workflow-title {
    text-align: center;
    margin-bottom: 5rem;
}

.accordion-items-list {
    list-style: decimal;
}

$accordion-border-width: 0.1rem;
.accordion-item {
    border-top: $accordion-border-width solid;
    padding: 1rem 0;

    &:last-child {
        border-bottom: $accordion-border-width solid;
    }

    &.open {
        & .accordion-item__content {
            grid-template-rows: 1fr;
        }

        & .plus__vertical-line {
            transform: rotate(0deg);
        }
    }
}

.accordion-item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-plus {
    position: relative;
    display: flex;
    width: 1rem;
    justify-content: center;
    align-items: center;

    & .plus__horizontal-line,
    & .plus__vertical-line {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: black;
    }
    & .plus__vertical-line {
        transform: rotate(90deg);
        transition: transform $base-transition-timing ease-in-out;
    }
}

.accordion-item__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows $base-transition-timing ease-out;

    & .accordion-item-wrapper {
        overflow: hidden;

        & p {
            width: 90%;
            margin: 1.25rem auto;
        }
    }
}

// ========== Contact ==========
.contact-inner {
    display: flex;
    // gap: 15rem;
}

.contact-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    & img {
        height: 80%;
        width: 22rem;
        object-fit: cover;
        filter: grayscale(1);
    }
}

.contact-content {
    color: $light-text-color;
    display: flex;
    width: 50%;
}

.contact-text {
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: 10;

    & p {
        margin: 2rem 0 3rem;
    }
}

// ========== ========== ========== PROJECTS ========== ========== ==========

// ========== ========== ========== GET IN TOUCH ========== ========== ==========
.getintouch-inner {
    display: flex;
}

.getintouch-form,
.getintouch-links {
    width: 50%;

    & h2 {
        margin-bottom: 2rem;
    }
}

.getintouch-form-inner,
.getintouch-links-inner {
    width: fit-content;
    margin: 0 auto;
}
